<div class='mt-4 container-1200 mx-auto'>
    <div class="d-flex">
        <h3>Chỉnh sửa điện thoại</h3>
         <a href='/phones/list' class=' ms-auto'>Tất cả điện thoại</a>
    </div>
   

    <form method='POST' action='/phones/{{phone._id}}?_method=PUT'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Tên điện thoại</label>
            <input type='text' class='form-control' name='name' placeholder="Tên điện thoại" value="{{phone.name}}"/>
        </div>

        <div class='mb-3'>
            <label for='name' class='form-label'>Hãng điện thoại</label>
            <input type='text' list="datalistBrand" class='form-control' name='brand' placeholder="Hãng điện thoại" value="{{phone.brand}}"/>
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Thông số kĩ thuật</label>
            <input type='text' class='form-control mb-2' list="datalistInches" placeholder="Specifications 1" name='specifications' value="{{phone.specifications.[0]}}"/>
            <input type='text' class='form-control mb-2' list="datalistRam" placeholder="Specifications 2" name='specifications' value="{{phone.specifications.[1]}}"/>
            <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Specifications 3" name='specifications' value="{{phone.specifications.[2]}}"/>
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Giá</label>
            <div class='row'>
                <div class='col text-center'>
                    Phân loại
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 1" name='types' value="{{phone.prices.[0].type}}"/>
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 2" name='types' value="{{phone.prices.[1].type}}"/>
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 3" name='types' value="{{phone.prices.[2].type}}"/>
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 4" name='types' value="{{phone.prices.[3].type}}"/>
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 5" name='types' value="{{phone.prices.[4].type}}"/>
                    <input type='text' class='form-control mb-2' list="datalistMemory" placeholder="Type 6" name='types' value="{{phone.prices.[5].type}}"/>

                </div>
                <div class='col text-center'>
                    Giá
                    <input type='text' class='form-control mb-2' placeholder="Price 1" name='prices' value="{{phone.prices.[0].price}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Price 2" name='prices' value="{{phone.prices.[1].price}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Price 3" name='prices' value="{{phone.prices.[2].price}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Price 4" name='prices' value="{{phone.prices.[3].price}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Price 5" name='prices' value="{{phone.prices.[4].price}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Price 6" name='prices' value="{{phone.prices.[5].price}}"/>
                </div>
            </div>
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Khuyến mãi</label>
            <input type='text' class='form-control' placeholder="Promotion" name='promotion' value="{{phone.promotion}}"/>
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Màu sắc</label>
            <div class='row g-3'>
                <div class='col-3 text-center'>
                    Màu sắc
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 1" name='colors' value="{{phone.colors.[0].color}}"/>
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 2" name='colors' value="{{phone.colors.[1].color}}"/>
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 3" name='colors' value="{{phone.colors.[2].color}}"/>
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 4" name='colors' value="{{phone.colors.[3].color}}"/>
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 5" name='colors' value="{{phone.colors.[4].color}}"/>
                    <input type='text' class='form-control mb-2' list="datalistColors" placeholder="Color 6" name='colors' value="{{phone.colors.[5].color}}"/>

                </div>
                <div class='col-9 text-center'>
                    Link ảnh minh họa
                    <input type='text' class='form-control mb-2' placeholder="Img 1" name='img' value="{{phone.colors.[0].img}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Img 2" name='img' value="{{phone.colors.[1].img}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Img 3" name='img' value="{{phone.colors.[2].img}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Img 4" name='img' value="{{phone.colors.[3].img}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Img 5" name='img' value="{{phone.colors.[4].img}}"/>
                    <input type='text' class='form-control mb-2' placeholder="Img 6" name='img' value="{{phone.colors.[5].img}}"/>
                </div>
            </div>
        </div>

        <div class='mb-3'>
            <label for='videoId' class='form-label'>Link hình ảnh sản phẩm</label>
	    {{!-- <div class="row">
		<div class="col-1">
		<img
                    src='{{phone.images.[0]}}'
                    alt='Ảnh mẫu'
                    class='image-swipe border rounded-3'
        	/>
		</div>
		<div class="col-11">
           		<input type='text' class='form-control mb-2' placeholder="Images 1" name='images' value="{{phone.images.[0]}}"/>
		</div>
	    </div> --}}

	    {{{create10InputEditImage phone.images}}}
        </div>

        <div class='mb-3'>
            <label for='description' class='form-label'>Miêu tả</label>
            <input type='text' class='form-control mb-2' placeholder="Description 1" name='description' value="{{phone.description.[0]}}"/>
            <input type='text' class='form-control mb-2' placeholder="Description 2" name='description' value="{{phone.description.[1]}}"/>
            <input type='text' class='form-control mb-2' placeholder="Description 3" name='description' value="{{phone.description.[2]}}"/>
            <input type='text' class='form-control mb-2' placeholder="Description 4" name='description' value="{{phone.description.[3]}}"/>
        </div>

        <datalist id="datalistBrand">
            <option value="apple">
            <option value="samsung">
            <option value="xiaomi">
            <option value="oppo">
        </datalist>
        
        <datalist id="datalistInches">
            <option value="6.1 inches">
            <option value="6.4 inches">
            <option value="6.5 inches">
            <option value="6.6 inches">
            <option value="6.7 inches">
            <option value="6.8 inches">
        </datalist>

        <datalist id="datalistRam">
            <option value="4 GB">
            <option value="6 GB">
            <option value="8 GB">
        </datalist>
       
        <datalist id="datalistMemory">
            <option value="64 GB">
            <option value="128 GB">
            <option value="256 GB">
            <option value="512 GB">
        </datalist>

        <datalist id="datalistColors">
            <option value="Đỏ">
            <option value="Đen">
            <option value="Xanh lá">
            <option value="Hồng">
            <option value="Trắng">
            <option value="Xanh dương">
            <option value="Vàng">
            <option value="Tím">
            <option value="Bạc">
        </datalist>

        <div class="mb-3 d-flex justify-content-between">
	        <a href='/phones/list' class='btn btn-secondary '>Hủy bỏ</a>
        	<button type='submit' class='btn btn-primary '>Lưu thay đổi</button>
        </div>
    </form>
</div>