<div class='d-flex justify-content-between align-items-center'>
    <h2 class='my-3'>Tất cả điện thoại</h2>
    <a href='/phones/create'>Thêm điện thoại mới</a>
</div>
<div class='table-responsive'>
    <table class='table align-middle'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên điện thoại</th>
                <th scope='col'>Thương hiệu</th>
                <th scope='col'>Ảnh minh họa</th>
                <th scope='col'>Thời gian cập nhật</th>
                <th scope='col' colspan='2'></th>
            </tr>
        </thead>
        <tbody class='table-group-divider'>
            {{#each phones}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td><a href='/phones/{{this.slug}}'>{{this.name}}</a></td>
                    <td>{{this.brand}}</td>
                    <td>
                        {{!-- prettier-ignore --}}
                        <img
                            src='{{this.images.[0]}}'
                            alt='Ảnh mẫu'
                            class='image-swipe '
			    style="pointer-events:none"
                        />
                    </td>
                    <td>{{formatTime this.updatedAt}}</td>
                    <td class='text-end'>
                        <a
                            href='/phones/{{this._id}}/edit'
                            class='btn btn-primary mb-2'
                            style=' white-space: nowrap'
                        >Chỉnh sửa</a>
                        <button
                            class='btn btn-danger btn-delete mb-2 ms-2'
                            data-bs-toggle='modal'
                            data-bs-target='#modalDelete'
                            data-id='{{this._id}}'
                        >Xóa bỏ</button>
                    </td>
                </tr>

            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal delete -->
<div class='modal fade' id='modalDelete' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h1 class='modal-title fs-5' id='exampleModalLabel'>Xóa điện thoại</h1>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn xóa điện thoại này?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Hủy bỏ</button>
                <button type='button' class='btn btn-danger btn-confirm-delete'>Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<form method='POST' name='delete-phone-form'></form>

{{! prettier-ignore }}
<script>
    let idDelete
    const btnDeletes = document.querySelectorAll('.btn-delete'); 
    const deleteForm = document.forms['delete-phone-form']
    const btnConfirmDelete = document.querySelector('.btn-confirm-delete');
    

    btnDeletes.forEach((btnDelete) => {
	btnDelete.onclick = (e) => {
		idDelete = e.target.dataset.id
		deleteForm.action = `/phones/${idDelete}?_method=DELETE`
		btnConfirmDelete.onclick = () => {
			deleteForm.submit()
		} 
	}
	
    }) 
</script>