<div class='mt-4 container-1200 mx-auto'>
    <h4 class='fw-700'>{{phone.name}}</h4>
    <hr />

    {{! Cột bên trái }}
    <div class='row row-cols-sm-1 row-cols-md-2'>
        {{! Khung hiển thị ảnh }}
        <div class='col-md-5 col-lg-7 h-100'>
            <div
                id='carouselExampleIndicators'
                class='carousel carousel-dark slide border border-secondary-subtle rounded-4 position-relative'
                data-bs-ride='carousel'
            >
                <div class='carousel-inner'>
                    <div class='carousel-item active' data-bs-interval='3000'>
                        <img
                            src='{{phone.image_title}}'
                            class='d-block w-50 mx-auto'
                            alt='{{phone.image_title}}'
                        />
                        {{! <div class='carousel-caption d-none d-md-block'>
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> }}
                    </div>
                    {{#each phone.images}}
                        <div class='carousel-item' data-bs-interval='3000'>
                            <img src='{{this}}' class='d-block w-50 mx-auto' alt='{{this}}' />

                        </div>
                    {{/each}}
                </div>
                <button
                    class='carousel-control-prev'
                    type='button'
                    data-bs-target='#carouselExampleIndicators'
                    data-bs-slide='prev'
                >
                    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
                    <span class='visually-hidden'>Previous</span>
                </button>
                <button
                    class='carousel-control-next'
                    type='button'
                    data-bs-target='#carouselExampleIndicators'
                    data-bs-slide='next'
                >
                    <span class='carousel-control-next-icon' aria-hidden='true'></span>
                    <span class='visually-hidden'>Next</span>
                </button>

            </div>
            <div class='carousel-image w-100 overflow-x-auto mb-4'>
                <img
                    src='{{phone.image_title}}'
                    alt='{{phone.image_title}}'
                    data-bs-target='#carouselExampleIndicators'
                    data-bs-slide-to='0'
                    class='active image-swipe border rounded-3'
                    aria-current='true'
                    aria-label='Slide 1'
                />
                {{#each phone.images}}
                    <img
                        src='{{this}}'
                        alt='{{this}}'
                        data-bs-target='#carouselExampleIndicators'
                        data-bs-slide-to='{{sum @index 1}}'
                        aria-label='Slide {{sum @index 2}}'
                        class='image-swipe border rounded-3'
                    />
                {{/each}}
            </div>

            <div class='description pt-2 bg-body-secondary bg-opacity-75 border rounded-3'>
                <h5 class='text-center text-danger fw-bold'>ĐẶC ĐIỂM NỔI BẬT</h5>
                <ul class=''>
                    {{#each phone.description}}
                        <li class=''>{{this}}</li>
                    {{/each}}
                </ul>
            </div>

        </div>

        {{! Cột bên phải }}
        <div class='col-md-7 col-lg-5 h-100'>
            <p class='card-text text-danger fs-5 fw-bold'>{{phone.price_display}}
            </p>

            {{! Khung chọn loại bộ nhớ }}
            <div class='options-price'>
                {{#each phone.prices}}
                    {{#with this}}
                        <button
                            type='button'
                            class='px-4 py-2 mb-2 me-2 fs-12 btn btn-outline-danger border border-dark-subtle'
                            style='width: calc(33.33333% - 0.7rem); --bs-btn-color: black; '
                        >
                            <span class='fw-700 fs-12'> {{type}}</span>
                            <br />
                            {{price}}
                        </button>
                    {{/with}}
                {{/each}}
            </div>

            {{! Khung chọn màu }}
            <h6 class='my-2'>Chọn màu để xem giá</h6>
            <div class='options-color mt-1'>
                {{#each phone.colors}}
                    {{#with this}}
                        <button
                            type='button'
                            class='px-4 py-2 mb-2 me-2 btn btn-outline-light border border-dark-subtle'
                            style='width: calc(33.33333% - 0.7rem); --bs-btn-color: black; '
                        >
                            <img src='{{img}}' alt='{{color}}' style='width: 2rem;' />
                            <span class='fw-semibold small'> {{color}}</span>

                        </button>
                    {{/with}}
                {{/each}}
            </div>

            {{! Khung khuyến mãi }}
            <div class='promotion border border-danger-subtle rounded-3 mt-2'>
                <div class='py-2 ps-2 fw-700 text-danger bg-danger-subtle'>
                    <i class='fa-solid fa-gift fs-5'></i>
                    <span class='ms-1'>Khuyến mãi</span>
                </div>
                <a href='#' type='button' class='p-3 small'>{{phone.promotion}}</a>
            </div>

            {{! Button edit }}
            <div class='mt-4 text-center'>

                <a href='/phones/{{phone.slug}}/edit' class='py-3 fs-4 btn btn-primary w-100'>Chỉnh
                    sửa</a>
            </div>

        </div>
    </div>

</div>