<div class='mt-4'>
    <div class='row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2'>
        {{#each phones}}
            <div class='col' style='min-width: 170px; max-width: 280px; width: calc(25vw-5px)'>
                <div class='card h-100 shadow rounded-4'>
                    {{! IMG }}
                    <div class='text-center'>
                        <a href='/phones/{{this.slug}}'>
                            {{! prettier-ignore }}
                            <img src='{{this.images.[0]}}' class='card-img-top' alt='{{this.name}}' />
                        </a>
                    </div>
                    {{! Body }}
                    <a href='/phones/{{this.slug}}'>
                        <div class='card-body' style='min-height: 280px;'>
                            <h1
                                class='card-title fs-6 fw-bold'
                                style='height: 65px; color: #444'
                            >{{this.name}}
                            </h1>

                            <div class='mt-1 d-flex flex-row'>
                                {{#each this.specifications}}
                                    <span
                                        class='me-2 badge rounded text-bg-light fw-normal border border-dark-subtle'
                                    >{{this}}</span>
                                {{/each}}
                            </div>

                            <p class='card-text mt-2 text-danger fs-5 fw-bold'>
                                {{#each this.prices}}
                                    {{#if @last}}
                                        {{#with this}}
                                            {{price}}
                                        {{/with}}
                                    {{/if}}
                                {{/each}}
                            </p>
                            <p
                                class='p-2 bg-body-secondary border border-secondary-subtle rounded-2 small'
                            >{{this.promotion}}
                            </p>
                        </div>
                    </a>
                    {{! Foot }}
                    <div class='card-footer text-center'>

                        <a href='/phones/{{this._id}}/edit' class='btn btn-primary w-75'>Chỉnh sửa</a>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>

</div>